<?xml version="1.0" encoding="UTF-8"?>
<!-- DPB positions about logging:
    https://kb.cn.ca/display/SPB/Java+Logging+Standard+-+BE
    https://kb.cn.ca/display/SPB/How+to+integrate+microservice+log+with+ELK
 -->
<Configuration status="warn">
    <Properties>
        <Property name="catalina.base">.</Property>
        <Property name="service">${bundle:bootstrap:spring.application.name}</Property>
        <Property name="LOG_PATTERN">{"timestamp":"$${date:MM-dd-yyyy HH:mm:ss}" ,"severity":%p , "message" : %m ,"service" : "${service}" , "traceId" : %X{traceId} , "spanId" :%X{spanId}}\n</Property>
        <Property name="LOG_PATTERN_ERROR">{"timestamp":"$${date:MM-dd-yyyy HH:mm:ss}" ,"severity":%p , "message" : %m , "error_cause" : %throwable , "service" : "${service}" , "traceId" : %X{traceId} , "spanId" :%X{spanId}}\n</Property>
    </Properties>

    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout>
                <LevelPatternSelector defaultPattern="${LOG_PATTERN}">
                    <PatternMatch key="WARN" pattern="${LOG_PATTERN_ERROR}" />
                </LevelPatternSelector>
            </PatternLayout>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="warn">
            <AppenderRef ref="LogToConsole"/>
        </Root>
        <Logger name="ca.cn.scio.application" level="info"
                additivity="false">
            <AppenderRef ref="LogToConsole" />
        </Logger>
    </Loggers>

</Configuration>
